
.text-Center {
  text-align: center;
}


.example-container {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 10px 10px;

}

.example-container > * {
  width: 60vw;
  height: 25vh;

}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.radioinhalt{
  padding-bottom: 5%;
}

textarea {
  margin: 5px;
  width: 270px;
  height: 185px;
}

input {
  padding-bottom: 5px;
}










