
  <mat-card class="example-container">
    <mat-card-header>
      <mat-card-title class="text-Center">Telefonat / Gesprächsvermerk</mat-card-title>
    </mat-card-header>
    <!--<img mat-card-image src="../images/call1.png" alt="Telefon">-->

    <mat-card-content class="example-container">

        <mat-radio-group class="radioinhalt">
        <mat-radio-button value="1">Geschäftzimmer </mat-radio-button><br><br>
        <mat-radio-button value="2">Referatsübergreifend </mat-radio-button><br><br>
        <mat-radio-button value="3">langfristige Termine</mat-radio-button><br>
      </mat-radio-group>


    </mat-card-content>
    <mat-card-actions class="text-Center">
      <button mat-raised-button color="warn" >Speichern</button>
      <button mat-raised-button color="accent">Abbrechen</button>
    </mat-card-actions>
  </mat-card>





