.text-Center {
  text-align: center;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 600px;
}

.radioinhalt {
  padding-bottom: 5%;

}

mat-card-title {
  color: #FFD347;
}

mat-radio-button {
  padding: 5px;
}

