
<!--<div >-->
  <mat-card class="example-container">
    <mat-card-header>
      <mat-card-title class="text-Center">Telefonat / Gesprächsvermerk</mat-card-title>
    </mat-card-header>
    <!--<img mat-card-image src="../images/call1.png" alt="Telefon">-->

    <mat-card-content class="example-container">#

      <mat-form-field>
        <input matInput placeholder="Input">
      </mat-form-field>


    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">Speichern</button>
      <button mat-raised-button>Abbrechen</button>
    </mat-card-actions>
  </mat-card>
<!--</div>-->

<!--<div class="example-container">-->
  <!--<mat-form-field>-->
    <!--<input matInput placeholder="Input">-->
  <!--</mat-form-field>-->

  <!--&lt;!&ndash;<mat-form-field>&ndash;&gt;-->
    <!--&lt;!&ndash;<textarea matInput placeholder="Textarea"></textarea>&ndash;&gt;-->
  <!--&lt;!&ndash;</mat-form-field>&ndash;&gt;-->

  <!--&lt;!&ndash;<mat-form-field>&ndash;&gt;-->
    <!--&lt;!&ndash;<mat-select placeholder="Select">&ndash;&gt;-->
      <!--&lt;!&ndash;<mat-option value="option">Option</mat-option>&ndash;&gt;-->
    <!--&lt;!&ndash;</mat-select>&ndash;&gt;-->
  <!--&lt;!&ndash;</mat-form-field>&ndash;&gt;-->
<!--</div>-->

