.text-Center {
  text-align: center;
  font-size: 2vw;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 600px;
}

.radioinhalt {
  padding-bottom: 5%;
}

mat-radio-button {
  padding: 5px;
}

mat-card-title {
  color: #90C745;
}
