<mat-card class="example-container">
  <mat-card-header>
    <mat-card-title class="text-Center">Mitarbeiter anmelden</mat-card-title>
  </mat-card-header>

  <mat-card-content class="example-container">

    <mat-radio-group class="radioinhalt">
      <br><br>
      <mat-radio-button value="1">Geschäftzimmer</mat-radio-button>
      <mat-radio-button value="2">Referatsübergreifend</mat-radio-button>
      <mat-radio-button value="3">langfristige Termine</mat-radio-button>
    </mat-radio-group>

    <br/> <br/>

    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput type="text" placeholder="Name">
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>

    <br/> <br/>

    <mat-form-field>
      <mat-label>Geburtstag</mat-label>
      <input matInput type="date" placeholder="">
      <mat-icon matSuffix>cake</mat-icon>
    </mat-form-field>

    <br/> <br/>

    <mat-radio-group>
      <mat-radio-button value="intern">intern </mat-radio-button>
      <mat-radio-button value="extern">extern </mat-radio-button>
    </mat-radio-group>

    <br/> <br/>

    <mat-form-field>
      <mat-label>Einsatzdatum</mat-label>
      <input matInput type="date" placeholder="">
      <mat-icon matSuffix>date_range</mat-icon>
    </mat-form-field>

    <br/> <br/>

    <mat-form-field>
      <mat-label>Einsatzort</mat-label>
      <input matInput type="text" placeholder="Einsatzort">
      <mat-icon matSuffix>location_on</mat-icon>
    </mat-form-field>

    <br/>

    <mat-form-field>
      <mat-label>Aufgabe</mat-label>
      <input matInput type="text" placeholder="Aufgabe">
      <mat-icon matSuffix>assignment</mat-icon>
    </mat-form-field>

    <br/>

    <mat-form-field appearance="outline">
      <textarea matInput placeholder="Notiz"></textarea>
    </mat-form-field>

    <br/> <br/>

    <mat-form-field>
      <mat-label>Folgeaktivität</mat-label>
      <input matInput type="text" placeholder="Folgeaktivität">
      <mat-icon matSuffix>arrow_right_alt</mat-icon>
      <mat-icon matSuffix>assignment</mat-icon>
    </mat-form-field>


  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="primary">Speichern</button>
    <button mat-raised-button color="primary">Abbrechen</button>
  </mat-card-actions>

</mat-card>

