

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 600px;

}

.radioinhalt {
  padding-bottom: 5%;
}

mat-card-title {
  color: #C40046;
}

mat-radio-button {
  padding: 5px;
}




