<mat-card class="example-container">
  <mat-card-header>
    <mat-card-title class="text-Center">Wanderkarte</mat-card-title>
  </mat-card-header>

  <mat-card-content class="example-container">

    <mat-radio-group class="radioinhalt">
      <br><br>
      <mat-radio-button value="1">Geschäftzimmer</mat-radio-button>
      <mat-radio-button value="2">Referatsübergreifend</mat-radio-button>
      <mat-radio-button value="3">langfristige Termine</mat-radio-button>
    </mat-radio-group>
    <br/>

    <mat-form-field>
      <input matInput type="text" placeholder="Titel">
      <mat-icon matSuffix>text_format</mat-icon>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" placeholder="Aufgabe">
      <mat-icon matSuffix>assignment</mat-icon>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" placeholder="Von">
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" placeholder="Für">
      <mat-icon matSuffix>person_outline</mat-icon>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Übergabedatum</mat-label>
      <input matInput type="date" placeholder="">
      <mat-icon matSuffix>date_range</mat-icon>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Deadline</mat-label>
      <input matInput type="date" placeholder="">
      <mat-icon matSuffix>update</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline"  >
      <mat-label>Beschreibung</mat-label>
      <textarea matInput class="textarea" placeholder=""></textarea>
    </mat-form-field>

  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary">Speichern</button>
    <button mat-raised-button color="primary">Abbrechen</button>
  </mat-card-actions>
</mat-card>
