.grid-container {
  height: 93vh;
  /*max-height: 100vmax;*/
  display: grid;
  grid-template-columns: 30vw 17vw 17vw 17vw 17vw;
  grid-gap: 2px;
  background-color: #BDBDBD;
  padding: auto;
  word-break: break-word;

}

.grid-container > div {
   text-align: center;
  /*padding: 20px 0;*/
  font-size: 30px;

}



.grid-container-buttons  {
  display: grid;
  grid-template-columns: auto auto;
  /*grid-gap: 10px;*/
  border-radius: 8px;
  height: 52vh;
  grid-row: 1 / 4;
  grid-column: 1 / 2;
  border-style: solid;
  border-color: #BDBDBD;
  background-color: ghostwhite;
  padding: 5px;

}

.grid-saeule {
  border-radius: 8px;
  border-style: solid;
  border-color: #BDBDBD;
  grid-row: 1/6;
  height: 90vh;

}

.grid-calender {
  border-radius: 8px;
  height: 33vh;
  grid-row: 4/6;
  grid-column: 1/2;
  border-style: solid;
  border-color: #BDBDBD;
  background-color: ghostwhite;
  padding: 25px 25px 25px 25px;
}

.button-card {
  border-radius: 8px;
  /*min-height: 10vh;*/
  height: 14vh;
  /*min-width: 12vh;*/
  width: 13vw;
  margin: auto;
  font-size: 22px;

}
.button-card:hover {
  background-color:transparent;
  color:#FF6E40;
}

.menu {
  font-size: 24px;
  background-color: #0097A7;
  color:white;
  height: 7vh;
}

.card-saeule {
  border-radius: 8px;
  height: 89vh;
  background-color: #F8F8FF;
  text-align: center;
}

.leereSaeule {
  background-color: #FEFEFF;
  height: 85vh;
  margin: auto;
}

.person-icon {
  margin: 15px;
}

.textarea {
  height: 32vh;
  width: 26vw;
  margin: auto;

}
