
<mat-toolbar class="menu">
  <mat-icon class ="person-icon">perm_identity</mat-icon>
  <span> Kanban Board - Frau Schumann</span>
</mat-toolbar>

<div class="grid-container">

  <div class="grid-container-buttons">

    <button mat-raised-button class="button-card2" (click)="newDringend()">Dringend</button>
    <button mat-raised-button class="button-card" (click)="newTelefonat()">Telefonat</button>

    <button mat-raised-button class="button-card3" (click)="newVeranstaltung()">Veranstaltung</button>
    <button mat-raised-button class="button-card4" (click)="newMitarbeiter()">Anmeldung</button>

    <button mat-raised-button class="button-card5" (click)="newWanderkarte()">Wanderkarte</button>
    <button mat-raised-button class="button-card6" (click)="newSonstiges()">Sonstiges</button>

  </div>



  <div class="grid-saeule">
    <mat-card class="card-saeule">
      <mat-card-title style="font-size: 1.5vw;">Geschäftszimmer</mat-card-title>
      <mat-card-content>
        <!---->
          <!--<div cdkDropList-->
            <!--#todoList="cdkDropList"-->
            <!--[cdkDropListData]="todo"-->
            <!--[cdkDropListConnectedTo]="[doneList]"-->
            <!--class="dad-list, leereSaeule"-->
            <!--(cdkDropListDropped)="drop($event)">-->
            <!--<div class="dad-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>-->

            <div cdkDropList
                 #doneList="cdkDropList"
                 [cdkDropListData]="geschaeftszimmerList"
                 [cdkDropListConnectedTo]="[refList, doneList1, termineList]"
                 class="dad-list, leereSaeule"
                 (cdkDropListDropped)="drop($event)">
              <div class="dad-box" *ngFor="let item of geschaeftszimmerList" cdkDrag>{{item.id}} - {{item.cardCategory}}</div>
            </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="grid-saeule">
    <mat-card class="card-saeule">
      <mat-card-title style="font-size: 1.5vw;">Referatsübergreifend</mat-card-title>
      <mat-card-content>

        <!-- <div cdkDropList
            #doneList="cdkDropList"
            [cdkDropListData]="telefonatList"
            [cdkDropListConnectedTo]="[todoList]"
            class="dad-list, leereSaeule"
            (cdkDropListDropped)="drop($event)">
            <div class="dad-box" *ngFor="let item of telefonatList" cdkDrag>{{item.caller}} - {{item.date}}</div>
          </div>-->

        <div cdkDropList
             #doneList="cdkDropList"
             [cdkDropListData]="refList"
             [cdkDropListConnectedTo]="[geschaeftszimmerList, doneList1, termineList]"
             class="dad-list, leereSaeule"
             (cdkDropListDropped)="drop($event)">
          <div class="dad-box" *ngFor="let item of refList" cdkDrag>{{item.id}} - {{item.cardCategory}}</div>
        </div>

      </mat-card-content>
    </mat-card>
  </div>

  <div class="grid-saeule">
    <mat-card class="card-saeule">
      <mat-card-title style="font-size: 1.5vw;">langfristige Termine</mat-card-title>
      <mat-card-content>
        <!--<div class="dad-box" *ngFor="let item of telefonatList" cdkDrag>{{item.caller}} - {{item.date}}</div>-->
        <div cdkDropList
             #doneList="cdkDropList"
             [cdkDropListData]="termineList"
             [cdkDropListConnectedTo]="[geschaeftszimmerList, refList, doneList1]"
             class="dad-list, leereSaeule"
             (cdkDropListDropped)="drop($event)">
          <div class="dad-box" *ngFor="let item of termineList" cdkDrag>{{item.id}} - {{item.cardCategory}}</div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="grid-saeule">
    <mat-card class="card-saeule">
      <mat-card-title style="font-size: 1.5vw;">Done</mat-card-title>
      <mat-card-content>

      <div cdkDropList
           #doneList="cdkDropList"
           [cdkDropListData]="doneList1"
           [cdkDropListConnectedTo]="[geschaeftszimmerList, refList, termineList]"
           class="dad-list, leereSaeule"
           (cdkDropListDropped)="drop($event)">
        <div class="dad-box" *ngFor="let item of doneList1" cdkDrag>{{item.id}} - {{item.cardCategory}}</div>
      </div>
      </mat-card-content>
    </mat-card>
  </div>

        <!--<mat-card class="grid-calender">
          <mat-form-field class="textarea">
            <textarea  matInput >Notizen</textarea>
          </mat-form-field>
        </mat-card>-->

  <mat-form-field class="grid-calender">
    <mat-label>Notizen</mat-label>
    <textarea matInput class="textarea" placeholder=""></textarea>
  </mat-form-field>




</div>
