
<mat-toolbar class="menu">
  <mat-icon class ="person-icon">perm_identity</mat-icon>
  <span> Kanban Board - Frau Schumann</span>
</mat-toolbar>

<div class="grid-container">

  <div class="grid-container-buttons">

    <button mat-raised-button class="button-card2" (click)="newDringend()">Dringend</button>
    <button mat-raised-button class="button-card" (click)="newTelefonat()">Telefonat</button>

    <button mat-raised-button class="button-card3" (click)="newVeranstaltung()">Veranstaltung</button>
    <button mat-raised-button class="button-card4" (click)="newMitarbeiter()">Mitarbeiter anmelden</button>

    <button mat-raised-button class="button-card5" (click)="newWanderkarte()">Wanderkarte</button>
    <button mat-raised-button class="button-card6" (click)="newSonstiges()">Sonstiges</button>

  </div>



  <div class="grid-saeule">
    <mat-card class="card-saeule">
      <mat-card-title>Geschäftszimmer</mat-card-title>
      <mat-card-content>
        
          <div cdkDropList
            #todoList="cdkDropList"
            [cdkDropListData]="todo"
            [cdkDropListConnectedTo]="[doneList]"
            class="dad-list, leereSaeule"
            (cdkDropListDropped)="drop($event)">
            <div class="dad-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>


        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="grid-saeule">
    <mat-card class="card-saeule">
      <mat-card-title>Referatsübergreifend</mat-card-title>
      <mat-card-content>

           <div cdkDropList
            #doneList="cdkDropList"
            [cdkDropListData]="done"
            [cdkDropListConnectedTo]="[todoList]"
            class="dad-list, leereSaeule"
            (cdkDropListDropped)="drop($event)">
            <div class="dad-box" *ngFor="let item of done" cdkDrag>{{item}} </div>
        </div>

      </mat-card-content>
    </mat-card>
  </div>
  <div class="grid-saeule">
    <mat-card class="card-saeule">
      <mat-card-title>langfristige Termine</mat-card-title>
      <mat-card-content class="leereSaeule">
        <div class="dad-box" *ngFor="let item of telefonatList" cdkDrag>{{item.caller}} - {{item.date}}</div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="grid-saeule">
    <mat-card class="card-saeule">
      <mat-card-title>Done</mat-card-title>
      <mat-card-content class="leereSaeule"></mat-card-content>
    </mat-card>
  </div>

        <!--<mat-card class="grid-calender">
          <mat-form-field class="textarea">
            <textarea  matInput >Notizen</textarea>
          </mat-form-field>
        </mat-card>-->

  <mat-form-field class="grid-calender">
    <mat-label>Notizen</mat-label>
    <textarea matInput class="textarea" placeholder=""></textarea>
  </mat-form-field>




</div>
