.text-Center {
  text-align: center;
  font-size: 30px;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 600px;
}

.radioinhalt {
  padding-bottom: 5%;
}

mat-card-title {
  color: #D09EB6;
}

mat-radio-button {
  padding: 5px;
}

/*
.intern-extern {
  padding: 7px;
}
*/
